body {
  background-color: #a15e9e;
  /* Lilás bem clarinho */
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  padding: 20px;
}

h1 {
  color: #3f71a6;
  /* Azul escuro */
}

img {

  border: 5px solid #da3ee5;
  border-radius: 15px;
  margin-top: 25px;
}